Node-Red-Flow.json
[{"id":"d65da7a4.db33a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8027a13c.10681","type":"ui_form","z":"d65da7a4.db33a8","name":"","label":"","group":"955d8393.0d88a","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles ","value":"f","type":"number","required":true,"rows":null},{"label":" BMI ","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"k","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null},{"label":"Developed","value":"s","type":"number","required":true,"rows":null},{"label":"Developing","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":100,"wires":[["93d80137.07c78"]]},{"id":"93d80137.07c78","type":"function","z":"d65da7a4.db33a8","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n\n\n\n\n\n//following are required to receive a token\nvar apikey=\"DvUOrp6_AnmVFHcyq7A-_sWD248A2fkcJVQS0Zq488cs\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["14cb4527.633d6b"]]},{"id":"23399462.6941cc","type":"http request","z":"d65da7a4.db33a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/59db06a3-b761-48e5-9c62-f5268cb529a6/deployments/d93bc168-d6f9-4693-af50-22ae5584516d/online","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":220,"wires":[["ebadbeea.661a3"]]},{"id":"bdbc861a.fcd9d8","type":"debug","z":"d65da7a4.db33a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":320,"wires":[]},{"id":"ebadbeea.661a3","type":"function","z":"d65da7a4.db33a8","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["bdbc861a.fcd9d8","b583c19a.6e854"]]},{"id":"6c5abc75.2b04a4","type":"function","z":"d65da7a4.db33a8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"59db06a3-b761-48e5-9c62-f5268cb529a6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',\n       'Developed', 'Developing'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":250,"y":220,"wires":[["23399462.6941cc"]]},{"id":"14cb4527.633d6b","type":"http request","z":"d65da7a4.db33a8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":530,"y":100,"wires":[["6c5abc75.2b04a4"]]},{"id":"b583c19a.6e854","type":"ui_text","z":"d65da7a4.db33a8","group":"955d8393.0d88a","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":420,"wires":[]},{"id":"955d8393.0d88a","type":"ui_group","z":"","name":"Machine Learning Model","tab":"88b26ba6.a8d168","order":1,"disp":true,"width":"6","collapse":false},{"id":"88b26ba6.a8d168","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]
